<!-- templates/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Powerful Owl Finder</title>
  </head>
  <body>
    <h1>Listening for Powerful Owls? 🦉</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <label for="file">Choose an audio file:</label>
        <input type="file" id="file" name="file" accept="audio/*">
        <input type="submit" value="Upload and look for owls (stream response, currently broken)">
    </form>
    <hr>
    <form action="/piecewise_predict" method="post" enctype="multipart/form-data">
        <label for="file">Choose an audio file:</label>
        <input type="file" id="file" name="file" accept="audio/*">
        <input type="submit" value="Upload and look for owls (naive, piecwise response)">
    </form>
    <hr>
    <form action="/batch_predict" method="post" enctype="multipart/form-data">
        <label for="file">Choose an audio file:</label>
        <input type="file" id="file" name="file" accept="audio/*">
        <input type="submit" value="Upload and look for owls (batch response)">
    </form>
  </body>
</html>